<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Mis Servicios</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    
        <ion-button shape="round" expand="full" color="dark" (click)="nuevoServicioModal()">
            <ion-icon slot="star" name="add-outline"></ion-icon>
            Nuevo servicio
        </ion-button>
   

    <ion-list>
         <ion-item *ngFor="let servicio of misServicios" [routerLink]="'/detalleservicio/' + servicio.id">
            <ion-label>{{ servicio.Descripcion }}</ion-label>
            <ion-label>{{ servicio.id }}</ion-label>
        </ion-item> 
    </ion-list>



</ion-content>