<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Mis Servicios</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    
        <ion-button shape="round" expand="full" color="dark" (click)="nuevoServicioModal()">
            <ion-icon slot="star" name="add-outline"></ion-icon>
            Nuevo servicio
        </ion-button>
   

<div>
    <ion-card color="light" *ngFor="let servicio of misServicios" [routerLink]="'detalleservicio/' + servicio.id">
            <ion-card-header [translucent]="true">
                <ion-card-title>
                <span style="color:blue">Servicio</span>
                <ion-icon slot="end" name="ellipsis-vertical-outline" [routerLink]="'detalleservicio/' + servicio.id"></ion-icon>
                </ion-card-title>
                </ion-card-header>
        <ion-card-content color="light">
            <h5><ion-icon name="pin" slot="start"></ion-icon> Descripcion: <b>{{servicio.Descripcion}}</b></h5>
        </ion-card-content>
    </ion-card>
 </div>


</ion-content>